<!--
  Generated template for the AnalysisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Analysis</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="col-12">
    <ion-card id="projects" class="info col-6">
      <div class="card-title">{{numProjects}}</div>
      <div class="card-subtitle">PROJECTS</div>
    </ion-card>
    <ion-card id="tasks" class="info col-6">
      <div class="card-title">{{numTasks}}</div>
      <div class="card-subtitle">TASKS</div>
    </ion-card>
    <ion-card id="overdue" class="info">
      <div class="card-title">{{numOverdue}}</div>
      <div class="card-subtitle">OVERDUE</div>
    </ion-card>
    <ion-card id="entries" class="info">
      <div class="card-title">{{numEntries}}</div>
      <div class="card-subtitle">ENTRIES</div>
    </ion-card>
    <ion-card id="hours" class="info">
      <div class="card-title">{{numWorked}}</div>
      <div class="card-subtitle">WORKED</div>
    </ion-card>
    <ion-card id="money" class="info">
      <div class="card-title">{{numEarned}}</div>
      <div class="card-subtitle">EARNED</div>
    </ion-card>
  </div>

  <canvas id="dailyChart">
    {{dailyChart}}</canvas>

    <canvas id="monetaryChart">
      {{monetaryChart}}</canvas>

      <canvas id="devicesChart">
        {{devicesChart}}</canvas>

        <canvas id="projectTimesChart">
          {{projectTimesChart}}</canvas>

          <canvas id="projectsBDChart">
            {{projectsBDChart}}</canvas>

            <canvas id="tasksBDChart">
              {{tasksBDChart}}</canvas>

          <div *ngFor="let p of progress">
            <h3>{{p.projectName}}</h3>
            <div class="progress">
                <div *ngFor="let t of p.taskTimes" class="progress-bar" role="progressbar" 
                    [style.width]="t.percent"
                    [style.background-color]="t.color">
                    {{getTime(t.totalTime)}}
                </div>
            </div>
            <br>
        </div>
</ion-content>
