<!--
  Generated template for the AnalysisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Analysis</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <canvas id="dailyChart">
    {{dailyChart}}</canvas>

    <canvas id="monetaryChart">
      {{monetaryChart}}</canvas>

      <canvas id="devicesChart">
        {{devicesChart}}</canvas>

        <canvas id="projectTimesChart">
          {{projectTimesChart}}</canvas>

          <canvas id="projectsBDChart">
            {{projectsBDChart}}</canvas>

            <canvas id="tasksBDChart">
              {{tasksBDChart}}</canvas>

          <div *ngFor="let p of progress">
            <h3>{{p.projectName}}</h3>
            <div class="progress">
                <div *ngFor="let t of p.taskTimes" class="progress-bar" role="progressbar" 
                    [style.width]="t.percent"
                    [style.background-color]="t.color">
                    {{getTime(t.totalTime)}}
                </div>
            </div>
            <br>
        </div>
</ion-content>
